<!--navbar-->
<p *ngIf="isLogged()">
  <button  style="margin-left: 40px;width: 72%; height: 40%;background-color: rgb(0, 126, 148);color: white;" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addOrDelete" data-bs-whatever="@mdo" >Add/Edit</button>
  <!--<button *ngIf="isEdit()" style="float: right;" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addOrDelete" data-bs-whatever="@mdo" >Edit post</button>-->
</p>
<div class="modal fade" id="addOrDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: rgb(0, 126, 148);color: rgb(134, 0, 105);" class="modal-header"> 
          <h5 class="modal-title" id="exampleModalLabel">Fill post data</h5>
          
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>        
        
          <div   class="mb-3">
            <label  for="recipient-name" class="col-form-label">Title:</label>
            <input  type="text" class="form-control" id="recipient-name" formControlName="title"  >
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Content:</label>
            <textarea class="form-control" id="message-text" formControlName="content" ></textarea>
          </div>
          <button style="background-color:  rgb(0, 126, 148);" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button style="background-color: rgb(134, 0, 105);" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
