<div style="margin: 20px;"> 
<h3 style="background-color: red;padding:20px;color:silver">News <input #search  class="form-control form-control-lg" type="search" placeholder="Search"  aria-label=".form-control-lg example" (keyup)="searchData(search.value)"></h3>
<div>
<table  class="table">
  <tbody>
    <tr (click)="getPost(post.postId)" style="border: 1px solid red; border-radius: 25px; margin: 10px" *ngFor="let post of posts" >
      <td>
        <a data-toggle="modal" data-target="#exampleModalCenter" >
        <h4 style="color: red;"><b>{{post.title}}</b></h4>
        <p style="color: black;">{{post.content}}</p></a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<!-- Modal -->
<div  class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div style="background-color: red;" *ngIf="post" class="modal-header">
        <h5 style="color:white" class="modal-title" id="exampleModalLongTitle">{{post.title}}</h5>
        <p *ngIf="post">{{post.author}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="post">{{post.content}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

  $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })
  </script>